[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FCVAR"]
	path = FCVAR
	url = https://github.com/leemorinucf/fcvar
[submodule "fracdist"]
	path = fracdist
	url = https://github.com/leemorinucf/fracdist
